In [2]:
import pandas as pd
import os

In [3]:
IN_FILE_PATH = os.path.join("../data", "invoices_xl")
OUT_FILE = "clean_data_322.csv"
OUT_DIR = os.path.join("../data")
OUT_PATH = os.path.join(OUT_DIR, OUT_FILE)

In [4]:
def invoice_to_df(directory):
    df = pd.DataFrame()
    i = 0
    read = True    
    for filename in os.listdir(directory):
        d = pd.read_excel(os.path.join(directory, filename))       
        for index, row in d.iterrows():
            if row[1] == "TOTAL":
                df.loc[i, "amount"] = row[2]
        df.loc[i, "name"]= d.iloc[9][0]
        df.loc[i, "address"] = d.iloc[10][0]
        df.loc[i, "csz"] = d.iloc[11][0]
        df.loc[i, "number"] = d.iloc[12][0]
        df.loc[i, "email"] = d.iloc[13][0]
        df.loc[i, "date"] = d.iloc[2][2]
        df.loc[i, "invoice_num"] = d.iloc[3][2]
        i += 1
    return df



if __name__ == "__main__":
    os.makedirs(OUT_DIR, exist_ok=True)
    clean_data = data_cleaner(IN_FILE_PATH)
    clean_data.to_csv(OUT_PATH, index = False)

NameError: name 'data_cleaner' is not defined

In [6]:
os.getcwd()

'C:\\Users\\galon\\hps\\code'

In [42]:
# pd.read_excel(os.path.join("invoices_xl" , "Invoice_Capo_321.xlsx"))

NameError: name 'clear' is not defined

In [5]:
def invoice_to_df(directory):
    df = pd.DataFrame()
    i = 0
    read = True    
    for filename in os.listdir(directory):
        d = pd.read_excel(os.path.join(directory, filename))       
        for index, row in d.iterrows():
            if row[1] == "TOTAL":
                df.loc[i, "amount"] = row[2]
        df.loc[i, "name"]= d.iloc[9][0]
        df.loc[i, "address"] = d.iloc[10][0]
        df.loc[i, "csz"] = d.iloc[11][0]
        df.loc[i, "number"] = d.iloc[12][0]
        df.loc[i, "email"] = d.iloc[13][0]
        df.loc[i, "date"] = d.iloc[2][2]
        df.loc[i, "invoice_num"] = d.iloc[3][2]
        i += 1
    return df

df = invoice_to_df(IN_FILE_PATH)
df.head(20)

C:\Users\galon\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
C:\Users\galon\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,amount,name,address,csz,number,email,date,invoice_num
0,659.99,Amy Blumrosen,5111 Longmont Drive,"Houston, TX 77056",7133743564.0,NaN,2021-09-01 00:00:00,00210901
1,197.00,Annette Boatwright,10015 Longmont Drive,"Houston, TX 77042",7132537370.0,NaN,2021-09-08 00:00:00,03210908
2,491.00,Angie Collins,26 Shadow Ln,"Houston, TX 77080",(713) 201-8376,NaN,2020-10-20 00:00:00,00201020
3,517.00,Angie Collins,10030 Bayou Glen Rd,"Houston, TX , 77042",7132018376,Angiewcollins@comcast.net,2021-10-28 00:00:00,03211028
4,725.00,Angie Collins,10834 Alcott,"Houston, TX 77043",7132018376,NaN,2020-11-17 00:00:00,01201117
5,551.76,Angie Collins (A),10834 Alcott,"Houston, TX 77043",7132018376,Angiewcollins@comcast.net,2022-02-01 00:00:00,00220126
6,291.00,Angie Collins (A),10834 Alcott,"Houston, TX 77043",7132018376,Angiewcollins@comcast.net,2022-01-13 00:00:00,03220113
7,297.00,Angie Collins (s),26 Shadow Ln,"Houston, TX 77080",7132018376,Angiewcollins@comcast.net,2022-02-16 00:00:00,00220214
8,1018.00,Angie Collins,26 Shadow Ln,"Houston, TX 77042",7132018376,NaN,2021-06-17 00:00:00,03210617
9,688.00,Angie Collins,10834 Alcott,"Houston, TX 77042",7132018376,NaN,2021-07-09 00:00:00,02210709
10,2775.00,Abel Garcia,4418 Austin St,"Houston, TX 77004",9792155535,NaN,2021-07-08 00:00:00,01210708
11,2475.00,Abel Garcia,4418 Austin St,"Houston, TX 77004",9792155535,NaN,2021-07-06 00:00:00,01210708
12,294.00,Alicia Lee,10043 Locke Ln,"Houston, TX 77042",7138283798,NaN,2020-08-25 00:00:00,03200825
13,1975.00,John Allred,10027 Inwood Dr,"Houston, TX 77042",2813898832,NaN,2020-10-19 00:00:00,02201019
14,247.00,John Allred,10027 Inwood Dr,"Houston, TX 77042",2813898832,NaN,2021-06-14 00:00:00,00210614
15,197.00,Almeda Park Apartments,10950 Tanner Park Ct,"Houston, TX 77075",7139441131,NaN,2020-09-03 00:00:00,01200903
16,750.00,Amy McGuire,6919 Mobud Dr,"Houston, TX 77074",8324837637,ameliamcguire@sbcglobal.net,2021-12-21 00:00:00,01211221
17,444.00,Amy McGuire,6919 Mobud Dr,"Houston, TX 77074",8324837637,ameliamcguire@sbcglobal.net,2022-02-22 00:00:00,00220222
18,697.00,Amy McGuire,6919 Mobud Dr,"Houston, TX 77074",8324837637,NaN,2021-06-08 00:00:00,00210608
19,597.00,Amy McGuire,6919 Mobud Dr,"Houston, TX 77074",8324837637,NaN,2021-06-08 00:00:00,00210608

In [6]:
def clean_df(df):
    read = True
    i = 0
    for index, row in df.iterrows():
        if read == True:
            df.loc[i, "daily_ct"] = str(row[7])[0:2]
            df.loc[i, "day"] = str(row[7])[6:]
            df.loc[i, "month"] = str(row[7])[4:6]
            df.loc[i, "year"] = str(row[7])[2:4]
            i +=1
    return df





data = clean_df(df)

In [10]:
data.groupby(by=pd.date_range(start=(data.loc["date"]>01-01-2020), .sum()

                     amount
date
2020-01-06 00:00:00   444.0
2020-06-17 00:00:00  5375.0
2020-06-18 00:00:00  3473.0
2020-06-19 00:00:00   254.0
2020-06-22 00:00:00  2475.0
...                     ...
2022-03-15 00:00:00  2875.0
2022-03-17 00:00:00   127.0
2022-03-18 00:00:00  1050.0
2029-09-24 00:00:00   834.5
6/2232020            4875.0

[260 rows x 1 columns]

In [33]:
df["date"].str.split(" ",n=1,expand=True)

       0
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
..   ...
689  NaN
690  NaN
691  NaN
692  NaN
693  NaN

[694 rows x 1 columns]